@model IEnumerable<WebApplication2.Models.Stockjson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    股票代碼
                </th>
            <th>
                股票名稱
            </th>
            <th>
                股價本益比
            </th>
            <th>
                股息殖利率
            </th>
            <th>
                股價淨值比
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peratio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DividendYield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pbratio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
